<!doctype html>
<html class="no-js" lang="{% if lang_code %}{{ lang_code }}{% else %}sk{% endif %}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="keywords" content="pycon sk, python, community, conference, bratislava, slovakia">
  <meta name="description" content="{{ _('Official PyCon SK 2020 website') }}">
  <meta name="author" content="SPy o.z.">

  <meta property="og:type" content="website"/>
  <meta property="og:image"
        content="{{ domain }}{{ url_for('static', filename='img/pycon_logo_square_400x400.png') }}"/>
  <meta property="og:url" content="{{ domain }}"/>
  <meta property="og:title" content="{{ _('PyCon SK 2020, Bratislava') }}"/>
  <meta property="og:site_name" content="2020.pycon.sk"/>
  <meta property="og:description"
        content="{{ _('PyCon SK is a community-organized conference for the Python programming language, which will be held in Bratislava on March 27 - 29, 2020.') }}"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@pyconsk"/>
  <meta name="twitter:title" content="{{ _('PyCon SK 2020, Bratislava') }}"/>
  <meta name="twitter:description"
        content="{{ _('PyCon SK is a community-organized conference for the Python programming language, which will be held in Bratislava on March 27 - 29, 2020.') }}"/>
  <meta name="twitter:url" content="{{ domain }}"/>
  <meta name="twitter:image"
        content="{{ domain }}{{ url_for('static', filename='img/pycon_logo_square_400x400.png') }}"/>
  <title>{{ title }}</title>

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" sizes="16x16" type="image/x-icon">
  <link rel="shortcut icon" type="image/x-icon"
        href="{{ url_for('static', filename='img/pycon_logo_square_60x60.png') }}">
  <!-- Normalize CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
  <!-- Main CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Animate CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <!-- Font-awesome CSS-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <!-- Main Menu CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/meanmenu.min.css') }}">
  <!-- Magnific CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backgrounds.css') }}">

  {% block header %}{% endblock %}

  {% if lang_code == 'sk' %}
  <link rel="alternate" href="{{ domain }}{{ request.path|replace('/'+lang_code, '/en', 1) }}" hreflang="en">
  <link rel="alternate" type="application/rss+xml" title="Odoberať RSS" href="{{ domain }}/{{ lang_code }}/rss" />
  {% else %}
  <link rel="alternate" href="{{ domain }}{{ request.path|replace('/'+lang_code, '/sk', 1) }}" hreflang="sk">
  <link rel="alternate" type="application/rss+xml" title="Subscribe to RSS feed" href="{{ domain }}/{{ lang_code }}/rss" />
  {% endif %}
  <link rel="canonical" href="{{ domain }}{{ request.path }}"/>
  <!-- Custom Js -->
  <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
  <!-- Modernizr Js -->
  <script src="{{ url_for('static', filename='js/modernizr-2.8.3.min.js') }}"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">
  {{ _('You are using an <strong>outdated</strong> browser.') }}
  {{ _('Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.') }}
</p>
<![endif]-->
<!-- Add your site or application content here -->
<!-- Preloader Start Here -->
<div id="preloader" class="preloader">
  <div class="items">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
</div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">
  <!-- Header Area Start Here -->
  <!-- Header Area Start Here -->
            <header>
                <div id="header-one" class="header-area header-fixed full-width-compress">
                    <div class="main-menu-area" id="sticker">
                        <div class="container-fluid">
                            <div class="row no-gutters d-flex align-items-center">
                                <div class="col-lg-2 col-md-3 d-none d-lg-block">
                                    <div class="logo-area">
                                        <a href="{{ url_for('index', lang_code=lang_code) }}">
                                            <img src="{{ url_for('static', filename='img/pycon_logo_square_60x60.png') }}" alt="logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-7 possition-static">
                                    <div class="eventalk-main-menu">
                                        <nav class="d-none d-lg-block">
                                            <ul>
                                                <li{% if li_index %} class="menu-justify current"{% endif %}>
                                                  <a href="{{ url_for('index', lang_code=lang_code) }}">PyCon SK 2020</a>
                                                </li>
                                                <li{% if li_news %} class="menu-justify current"{% endif %}>
                                                  <a href="{{ url_for('news', lang_code=lang_code) }}">{{ _('Newsroom') }}</a>
                                                </li>
                                                <li{% if li_cfp %} class="menu-justify current"{% endif %}>
                                                  <a href="{{ url_for('cfp', lang_code=lang_code) }}">{{ _('Call for proposals') }}</a>
                                                </li>
                                                <li{% if li_cfv %} class="menu-justify current"{% endif %}>
                                                  <a href="{{ url_for('cfv', lang_code=lang_code) }}">{{ _('Call for volunteers') }}</a>
                                                </li>
                                                <li{% if li_coc %} class="menu-justify current"{% endif %}>
                                                  <a href="{{ url_for('coc', lang_code=lang_code) }}">{{ _('Code of Conduct') }}</a>
                                                </li>
                                                {% if lang_code == 'sk' %}
                                                <li>
                                                  <a href="{{ request.path|replace('/'+lang_code, '/en', 1) }}" title="Switch to English"
                                                     hreflang="en"><img
                                                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACJElEQVQokYWQW0jTYQDFv8ceehELCx96CoqlYaxSQYaZoWBCNTNl6JbLkKGV+RBZy3mp8Ia3LooammGY5TIyAzOHKVmRQ52xdIREMMlVkLKm///362HVk9B5OnA4F45oaB5m0LVE8a1xzGXjmMtGMdlGcHt8PMyx0Wu04vb4SLYMkJQ7SJzBTqbtOa1HzlDcNobouv8GHvcgJcwtLNNpn+NO3zxSAk3VUFuBlNDQMU1Nm5OJ15+RlZeQaoC6fifiZLmDoYlvcK8bHC8AuHrTBQCn8sBoAqCodorlzl78VVUAtPdMsVV7OxjQYfdgrXexMPwJpfQK/2AwQPqJIM/PA68X57yP+ORuCktfERJRj3B7fMG56yEtDVJT15WkhHezi4he02VovA5mM2RnQ0YG6PVBY0oKMjGRVZ2OQEwMfq2WlchIVjQaAscOUbEt9j8L4uJQ9kX/7QRAVVUUVWFNUZhweRG6rH6qWyfJzB1kxvUdfEsEcrKDlj1a1nZH/QlQ+XIgnpfNT9kS3oLe2IcItSD2H3/E3b7g6z9tVn5UVmIoGgdA0USwulMDUhKr6yIALLe04TUaKL3xHhFyGtH4ZBopVfzXLjA2Mse5EgcFJaNICao+ibWjCUhVJT13gLSsBzwb/Yiq/OKr8TCWwi7ExfYRmg7mkJDXSciuVjbuaGTD9jomZ71UhEdTHqbl7cwiIuw8YvNZRGg+m6Ks1Ax9IHFvAb8B0rMYCWdRNDQAAAAASUVORK5CYII="
                                                      alt="english language"></a>
                                                </li>
                                                {% else %}
                                                <li>
                                                  <a href="{{ request.path|replace('/'+lang_code, '/sk', 1) }}" title="Prepnúť na slovečinu"
                                                     hreflang="sk"><img
                                                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACO0lEQVQokXXMTUiTARzH8T94FOrgyYsddkkQJcFIyhQ1kUzQUHMTRRMNU6xMLXpRMLVS8gWkrKhDXesk0TFKIgzTXPMt2ea0JWOutT179uzlefbtUlKHfvA5/r5iqBqGqv5LUYgrCvGAQtQfQPP7UX1+VK8PxeMlsOPB73bj23YjhqrxZ4lEYo9hJDAMA13X0XWdeDxOLBYjGo0SiUTQNA2vaxsxVBWA8NNnhCfuo45PERqdJDQ6/t9jOBxG0zR27E4k37zOi9c/ULpvkGhuwnA4MIYGiVnqmHjk4s70N4amthiY3KRvzMm1ETu9tze4+8CJJL1CkkxzDD7eJdDRjfFpHsO3i77lQqut42aflZrOr9ScX6Gy1cap5i+UNixRaFmk4dIyIk8QOTDHrYde/G1d6C2N6A4H8bvDRC0WLl61cbpjncpzK5Q32yhtsFJkWeL4mUXqLuwFFhmY9mB9a2e4Z5b2nmXaOxfYnJnFfNlOedsGJ1vWONG0SkH9CsfMNo5UW6nqXEPkOfJGBNeVEb4PT2F/v0Zjr53Vd+u4+sewFpj5fLSahcMVzB8q42NGKXMHi/hgymehqI57IkhUBL21lVhxMbHuLn6+nCFwvR8tM5NwejqqyUQoLQ0lNZVgSgqB/fsIJCcTzMrCKYJoIsSbzhKrrydaW0u0qppIRQVaWRlaSQnhwkLUvDxCubkoOTkEs7MJZmURzMjALoKoIigiBETwi+D7zSuCR4QdEdwibIvgEsEpgv0vvwCcffbRnUTGYAAAAABJRU5ErkJggg=="
                                                      alt="slovenský jazyk"></a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                        <!-- Mobile Menu start -->
                                        <nav id="dropdown" class="d-md-none">
                                          <ul>
                                            <li>
                                              <a href="{{ url_for('index', lang_code=lang_code) }}">PyCon SK 2020</a>
                                            </li>
                                            <li>
                                              <a href="{{ url_for('cfp', lang_code=lang_code) }}">{{ _('Call for proposals') }}</a>
                                            </li>
                                            <li>
                                              <a href="{{ url_for('cfv', lang_code=lang_code) }}">{{ _('Call for volunteers') }}</a>
                                            </li>
                                            <li>
                                              <a href="{{ url_for('coc', lang_code=lang_code) }}">{{ _('Code of Conduct') }}</a>
                                            </li>
                                            <li>
                                              <a href="{{ url_for('tickets', lang_code=lang_code) }}" title="{{ _('Buy Tickets') }}">{{ _('Buy Tickets') }}</a>
                                            </li>
                                            {% if lang_code == 'sk' %}
                                            <li>
                                              <a href="{{ request.path|replace('/'+lang_code, '/en', 1) }}" title="Switch to English"
                                                 hreflang="en">
                                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACJElEQVQokYWQW0jTYQDFv8ceehELCx96CoqlYaxSQYaZoWBCNTNl6JbLkKGV+RBZy3mp8Ia3LooammGY5TIyAzOHKVmRQ52xdIREMMlVkLKm///362HVk9B5OnA4F45oaB5m0LVE8a1xzGXjmMtGMdlGcHt8PMyx0Wu04vb4SLYMkJQ7SJzBTqbtOa1HzlDcNobouv8GHvcgJcwtLNNpn+NO3zxSAk3VUFuBlNDQMU1Nm5OJ15+RlZeQaoC6fifiZLmDoYlvcK8bHC8AuHrTBQCn8sBoAqCodorlzl78VVUAtPdMsVV7OxjQYfdgrXexMPwJpfQK/2AwQPqJIM/PA68X57yP+ORuCktfERJRj3B7fMG56yEtDVJT15WkhHezi4he02VovA5mM2RnQ0YG6PVBY0oKMjGRVZ2OQEwMfq2WlchIVjQaAscOUbEt9j8L4uJQ9kX/7QRAVVUUVWFNUZhweRG6rH6qWyfJzB1kxvUdfEsEcrKDlj1a1nZH/QlQ+XIgnpfNT9kS3oLe2IcItSD2H3/E3b7g6z9tVn5UVmIoGgdA0USwulMDUhKr6yIALLe04TUaKL3xHhFyGtH4ZBopVfzXLjA2Mse5EgcFJaNICao+ibWjCUhVJT13gLSsBzwb/Yiq/OKr8TCWwi7ExfYRmg7mkJDXSciuVjbuaGTD9jomZ71UhEdTHqbl7cwiIuw8YvNZRGg+m6Ks1Ax9IHFvAb8B0rMYCWdRNDQAAAAASUVORK5CYII=" alt="english language">
                                              </a>
                                            </li>
                                            {% else %}
                                            <li>
                                              <a href="{{ request.path|replace('/'+lang_code, '/sk', 1) }}" title="Prepnúť na slovečinu"
                                                 hreflang="sk">
                                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACO0lEQVQokXXMTUiTARzH8T94FOrgyYsddkkQJcFIyhQ1kUzQUHMTRRMNU6xMLXpRMLVS8gWkrKhDXesk0TFKIgzTXPMt2ea0JWOutT179uzlefbtUlKHfvA5/r5iqBqGqv5LUYgrCvGAQtQfQPP7UX1+VK8PxeMlsOPB73bj23YjhqrxZ4lEYo9hJDAMA13X0XWdeDxOLBYjGo0SiUTQNA2vaxsxVBWA8NNnhCfuo45PERqdJDQ6/t9jOBxG0zR27E4k37zOi9c/ULpvkGhuwnA4MIYGiVnqmHjk4s70N4amthiY3KRvzMm1ETu9tze4+8CJJL1CkkxzDD7eJdDRjfFpHsO3i77lQqut42aflZrOr9ScX6Gy1cap5i+UNixRaFmk4dIyIk8QOTDHrYde/G1d6C2N6A4H8bvDRC0WLl61cbpjncpzK5Q32yhtsFJkWeL4mUXqLuwFFhmY9mB9a2e4Z5b2nmXaOxfYnJnFfNlOedsGJ1vWONG0SkH9CsfMNo5UW6nqXEPkOfJGBNeVEb4PT2F/v0Zjr53Vd+u4+sewFpj5fLSahcMVzB8q42NGKXMHi/hgymehqI57IkhUBL21lVhxMbHuLn6+nCFwvR8tM5NwejqqyUQoLQ0lNZVgSgqB/fsIJCcTzMrCKYJoIsSbzhKrrydaW0u0qppIRQVaWRlaSQnhwkLUvDxCubkoOTkEs7MJZmURzMjALoKoIigiBETwi+D7zSuCR4QdEdwibIvgEsEpgv0vvwCcffbRnUTGYAAAAABJRU5ErkJggg==" alt="slovenský jazyk">
                                              </a>
                                            </li>
                                            {% endif %}
                                          </ul>
                                        </nav>
                                        <!-- Mobile Menu End -->
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 d-none d-lg-block">
                                    <ul class="header-action-items">
                                        <li>
                                          <a href="{{ url_for('tickets', lang_code=lang_code) }}" title="{{ _('Buy Tickets') }}"
                                             class="btn-fill size-xs color-yellow border-radius-5">{{ _('Buy Tickets') }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
  <!-- Header Area End Here -->
  {% block content %}{% endblock %}

  {% block footer %}
  <!-- Footer Area Start Here -->
  <footer>
    <div class="footer-layout2">
      <div class="footer-top-area">
        <div class="container">

          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="widget text-center">
                <span class="footer-widget-icon">
                  <i class="fa fa-phone"></i>
                </span>
                <div class="footer-widget-body">
                  <h3 class="widgettitle">{{ _('Event Organiser') }}</h3>
                  <p>
                    <a href="tel:+421948101676">+421 948 101 676</a>
                  </p>
                </div>
              </div>
            </div><!-- Col 1 end -->

            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="widget text-center">
                <span class="footer-widget-icon">
                  <i class="fa fa-envelope"></i>
                </span>
                <div class="footer-widget-body">
                  <h3 class="widgettitle">{{ _('General Queries') }}</h3>
                  <p>
                    <a href="mailto:info@pycon.sk">info@pycon.sk</a>
                  </p>
                </div>
              </div>
            </div><!-- Col 2 end -->

            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="widget text-center">
                <span class="footer-widget-icon">
                  <i class="fa fa-ticket"></i>
                </span>
                <div class="footer-widget-body">
                  <h3 class="widgettitle">{{ _('Ticket Queries') }}</h3>
                  <p>
                    <a href="mailto:tickets@pycon.sk">tickets@pycon.sk</a>
                  </p>
                </div>
              </div>
            </div><!-- Col 3 end -->

            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="widget text-center">
                <span class="footer-widget-icon">
                  <i class="fa fa-gift"></i>
                </span>
                <div class="footer-widget-body">
                  <h3 class="widgettitle">{{ _('Sponsor Queries') }}</h3>
                  <p>
                    <a href="mailto:sponsors@pycon.sk">sponsors@pycon.sk</a>
                  </p>
                </div>
              </div>
            </div><!-- Col 4 end -->

          </div><!-- Row 1 end -->


          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="widget">
                <div class="footer-widget-about">
                  <p>
                    {{ _('The PyCon SK 2020 conference, which will be held in Bratislava, is the annual gathering for the community using and developing the open-source Python programming language.') }}
                    {% autoescape false %}
                    {{ _('PyCon SK is organized by volunteers from %(spy)s.',
                    spy = '<a href="https://spy.python.sk" target="_blank" class="external">%s</a>' % _('SPy o.z.')) }}
                    {% endautoescape %}
                  </p>
                </div>
                <div class="footer-widget-social text-center">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/pyconsk" class="footer-widget-icon">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/pyconsk" class="footer-widget-icon">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/spy-o--z-/" class="footer-widget-icon">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://join.slack.com/t/pyconsk/shared_invite/enQtODQ4NjU1NzM2NzI3LTA2ZGNiOTA4YzM5OWM3NmQyZjAxMDlmNzJjOGIzNjM4ZjEwZGI0MTJiYzAxZmNhZmVjMTZjZjliNWQ4ZjVlNjE" class="footer-widget-icon">
                        <i class="fa fa-slack" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/pyconsk/" class="footer-widget-icon">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
              {% include 'mailchimp.html' %}
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom-area">
        <p>
          <a href="{{ url_for('index', lang_code=lang_code) }}">
            <img class="img-fluid" src="{{ url_for('static', filename='img/pycon_logo_square.png') }}" alt="PyCon SK logo">
          </a>
        </p>
        {% autoescape false %}
        <p>{{ _('PyCon SK is organized by volunteers from %(spy)s.',
                spy = '<a href="https://spy.python.sk" target="_blank" class="external">%s</a>' % _('SPy o.z.')) }}
        </p>
        <p>{{ _('%(pycontm)s is a trademark for worldwide conference activities claimed by the %(psf)s.',
                pycontm = '<a href="https://www.python.org/psf/trademarks/pycon/" target="_blank" class="external">PyCon™</a>',
                psf = '<a href="https://www.python.org/psf-landing/" target="_blank" class="external">%s</a>' % _('Python Software Foundation')) }}
        </p>
        <p><span class="oi oi-bug"></span>
           {{ _('Found a bug? Missing some information? This is a community managed website, so feel free to contribute to our %(github)s repository.',
                github = '<a href="https://github.com/pyconsk/2020.pycon.sk" target="_blank" class="external">GitHub</a>') }}
        </p>
        {% endautoescape %}
      </div>
    </div>
  </footer>
  <!-- Footer Area End Here -->
  {% endblock %}
</div>
<!-- Wrapper End -->
<!-- jquery-->
<script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}" type="text/javascript"></script>
<!-- Plugins js -->
<script src="{{ url_for('static', filename='js/plugins.js') }}" type="text/javascript"></script>
<!-- Popper js -->
<script src="{{ url_for('static', filename='js/popper.js') }}" type="text/javascript"></script>
<!-- Bootstrap js -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
<!-- Meanmenu Js -->
<script src="{{ url_for('static', filename='js/jquery.meanmenu.min.js') }}" type="text/javascript"></script>
<!-- Srollup js -->
<script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}" type="text/javascript"></script>

{% block js %}
<!-- Countdown js -->
<script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}" type="text/javascript"></script>
<!-- jquery.counterup js -->
<script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/waypoints.min.js') }}" type="text/javascript"></script>
<!-- Isotope js -->
<script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}" type="text/javascript"></script>
<!-- Magnific Popup -->
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}" type="text/javascript"></script>
<!-- One Page menu action JS -->
<script src="{{ url_for('static', filename='js/jquery.nav.js') }}" type="text/javascript"></script>
{% endblock %}

<!-- Custom Js -->
<script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="{{ url_for('static', filename='ga.min.js') }}"></script>

</body>

</html>
