{% extends "body.html" %}
{% block content %}
<!-- Inner Page Banner Area Start Here -->
<section class="inner-page-banner" style="background-image: url({{ url_for('static', filename='img/about/header1.jpg') }});">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>{{ _('PyCon SK Recording Release') }}</h1>
          <ul>
            <li>
              <a href="{{ url_for('index', lang_code=lang_code) }}">PyCon SK 2020</a>
            </li>
            <li>
              <a href="{{ url_for('cfp', lang_code=lang_code) }}">{{ _('Call for proposals') }}</a>
            </li>
            <li>{{ _('Submit your proposal') }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner Page Banner Area End Here -->
<!-- Content Page Area Start Here -->
<section class="section-space-less30">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <p class="text-justify">
          {{ _('Still not sure about the details your proposal? No worries :-) <b>After submitting your proposal, you will receive a confirmation email with a link with which you can return to your proposal and make changes.</b>') }}
        </p>

        <p class="text-justify">
          {{ _('For all of the "paperwork" we use Google forms. You fill it on our page (just the form below), or you can submit the form directly: ') }}
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfMujnosBhNE2Iz355m02ANtQU33uNWwdAf5pluvRy4L6PoYw/viewform?usp=sf_link" target="_blank" class="external">Google form</a>.
        </p>

        <div class="contact-form">

        <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfMujnosBhNE2Iz355m02ANtQU33uNWwdAf5pluvRy4L6PoYw/formResponse"
              id="bootstrapForm"
              method="POST">

          <h3>{{ _('About the speaker') }}</h3>

          <!-- Field type: "short" id: "1719435898" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="721522564">{{ _('Your name') }} <span class="color-red">*</span></legend>
              </div>
              <div class="col-md-9">
                <input id="721522564" type="text" name="entry.721522564" class="form-control" required>
              </div>
              <div class="col-md-12">
                <p class="help-block small">
                  {{ _('Your name will be displayed on our website if your talk is accepted.') }}<br />
                  {{ _('If two or more people will be presenting, please separate the names with commas.') }}
                </p>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "short" id: "1719435898" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="605142108">{{ _('Your email') }} <span class="color-red">*</span></legend>
              </div>
              <div class="col-md-9">
                <input id="605142108" type="text" name="entry.605142108" class="form-control" required>
              </div>
              <div class="col-md-12">
                <p class="help-block small">
                  {{ _('Your email will not be published! We need it to get in touch and send you notification once the CfP ends.') }}<br />
                  {{ _('If two or more people will be presenting, please separate the names with commas.') }}
                </p>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "paragraph" id: "931103373" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="931103373">{{ _('Biography') }} <span class="color-red">*</span></legend>
                <p class="help-block small">
                  {{ _('Your biography will be displayed on our website if your talk is accepted.') }}<br />
                  {{ _('If two or more people will be presenting, please separate the bios with a blank line.') }}
                </p>
              </div>
              <div class="col-md-9">
                <textarea id="1240136343" name="entry.1240136343" class="form-control" required></textarea>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "short" id: "538261903" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="1572787741">{{ _('Profile picture URL') }} <span class="color-red">*</span></legend>
              </div>
              <div class="col-md-9">
                <input id="1572787741" type="text" name="entry.1572787741" class="form-control" required>
              </div>
              <div class="col-md-12">
                <p class="help-block small">
                  {{ _('URL to your profile picture that will be displayed on our website if your talk is accepted.') }}<br />
                  {{ _('If two or more people will be presenting, please separate the URLs with a blank line.') }}
                </p>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "short" id: "809362001" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="809362001">{{ _('Which country are you from?') }} <span class="color-red">*</span></legend>
                </div>
              <div class="col-md-9">
                <input id="222725706" type="text" name="entry.222725706" class="form-control" required>
              </div>
              <div class="col-md-12">
                <p class="help-block small">{{ _('We would like to publish a country name next to the speaker on our website if your talk is accepted.') }}</p>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "short" id: "353367559" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="353367559">{{ _('Phone') }}</legend>
              </div>
              <div class="col-md-9">
                <input id="2090527542" type="text" name="entry.2090527542" class="form-control">
              </div>
              <div class="col-md-12">
                <p class="help-block small">{{ _('Your phone will not be published! It is just for organizers to get in touch with you in case we need to discuss something with you or in case of emergency during the conference.') }}</p>
              </div>
            </div>
          </fieldset>

          <h3>{{ _('About talk') }}</h3>
          <!-- Field type: "short" id: "888263707" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="888263707">{{ _('Title') }} <span class="color-red">*</span></legend>
              </div>
              <div class="col-md-9">
                <input id="369008787" type="text" name="entry.369008787" class="form-control" required>
              </div>
              <div class="col-md-12">
                <p class="help-block small">{{ _('The name of your talk/workshop as it will be displayed on our website if it is accepted.') }}</p>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "paragraph" id: "616071665" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="616071665">{{ _('Abstract') }} <span class="color-red">*</span></legend>
                <p class="help-block small">{{ _('The abstract of your talk will be published on our website if your talk is accepted.') }}</p>
              </div>
              <div class="col-md-9">
                <textarea id="1317367521" name="entry.1317367521" class="form-control" required></textarea>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "choices" id: "981766256" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="981766256">{{ _('Type') }} <span class="color-red">*</span></legend>
                <p class="help-block small">{{ _('What kind of session will you do?') }}</p>
              </div>
              <div class="col-md-9">
                <div class="radio align-middle">
                  <label>
                    <input type="radio" name="entry.1191148942" value="Talk" required>
                    {{ _('Talk') }}
                  </label>
                </div>
                <div class="radio align-middle">
                  <label>
                    <input type="radio" name="entry.1191148942" value="Workshop" required>
                    {{ _('Workshop') }}
                  </label>
                </div>
                <div class="radio align-middle">
                  <label>
                    <input type="radio" name="entry.1191148942" value="Poster" required>
                    {{ _('Poster') }}
                  </label>
                </div>
                <div class="radio align-middle">
                  <label>
                    <input type="radio" name="entry.1191148942" value="Hardware Projects Showcase" required>
                    {{ _('Hardware Projects Showcase') }}
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "choices" id: "1929463061" -->
          <fieldset>
            <div class="form-group row d-flex align-items-center">
              <div class="col-md-3 align-middle">
                <legend for="1929463061">{{ _('Language') }} <span class="color-red">*</span></legend>
                <p class="help-block small">{{ _('What language will your session be in?') }}</p>
              </div>
              <div class="col-md-9 align-middle">
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1232879431" value="English" required>
                    {{ _('English') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1232879431" value="Slovak" required>
                    {{ _('Slovak') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1232879431" value="Czech" required>
                    {{ _('Czech') }}
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "choices" id: "1244715486" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="1244715486">{{ _('Time Slot') }} <span class="color-red">*</span></legend>
              </div>
              <div class="col-md-9">
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1403279435" value="30 minutes (talks)" required>
                    {{ _('30 minutes (talks)') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1403279435" value="45 minutes (talks/workshops)" required>
                    {{ _('45 minutes (talks/workshops)') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1403279435" value="60 minutes (workshops/Hardware Projects Showcase)" required>
                    {{ _('60 minutes (workshops/Hardware Projects Showcase)') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1403279435" value="90 minutes (workshops)" required>
                    {{ _('90 minutes (workshops)') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1403279435" value="120 minutes (workshops)" required>
                    {{ _('120 minutes (workshops)') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1403279435" value="3 hours (workshops)" required>
                    {{ _('3 hours (workshops)') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1403279435" value="4 hours (workshops)" required>
                    {{ _('4 hours (workshops)') }}
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <h3>{{ _('Skill level') }}</h3>
          <!-- Field type: "choices" id: "739210763" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="739210763">{{ _('Which describes you best?') }} <span class="color-red">*</span></legend>
              </div>
              <div class="col-md-9">
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1233715133" value="I have never presented in front of 100+ people before." required>
                    {{ _('I have never presented in front of 100+ people before.') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1233715133" value="I gave a few (2-5) presentations at a conference of 100+ people." required>
                    {{ _('I gave a few (2-5) presentations at a conference of 100+ people.') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1233715133" value="I spoke at a conference of 100+ people more than 5 times." required>
                    {{ _('I spoke at a conference of 100+ people more than 5 times.') }}
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "choices" id: "879807942" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="879807942">{{ _('Would you be interested in mentoring?') }} <span class="color-red">*</span></legend>
                <p class="help-block small">{{ _('Please provide us with this answer only if you need travel funding so that we can calculate the ticket price.') }}</p>
              </div>
              <div class="col-md-9">
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.827355267" value="Yes (if available)" required>
                    {{ _('Yes (if available)') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.827355267" value="No" required>
                    {{ _('No') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.827355267" value="Unsure" required>
                    {{ _('Unsure') }}
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "short" id: "1776001700" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="1776001700">{{ _('Link to a previous presentation?') }}</legend>
              </div>
              <div class="col-md-9">
                <input id="2026067930" type="text" name="entry.2026067930" class="form-control" >
              </div>
              <div class="col-md-12">
                <p class="help-block small">{{ _('PyCon SK receives hundreds of visitors each year who are not native English speakers. We&#x27;d like to be sure that we can understand you clearly. Can you please share a link of a recording where you present something in English? If you don&#x27;t have such a link, please first create a quick 30-second recording. For example, you can read your Talk Abstract and upload it to YouTube (or elsewhere). Instructions:') }} https://tips.uark.edu/record-and-publish-videos-to-youtube/</p>
              </div>
            </div>
          </fieldset>

          <h3>{{ _('Travel funding') }}</h3>
          <!-- Field type: "choices" id: "1328352400" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="1328352400">{{ _('Do you need travel funding?') }} <span class="color-red">*</span></legend>
                <p class="help-block small">{{ _('Please bear in mind that we are a community conference with a limited budget and we might not be able to fund you.') }}</p>
              </div>
              <div class="col-md-9">
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.556878610" value="Yes" required>
                    {{ _('Yes') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.556878610" value="No" required>
                    {{ _('No') }}
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "short" id: "385549410" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="385549410">{{ _('What city will you be traveling from?') }}</legend>
              </div>
              <div class="col-md-9">
                <input id="411958004" type="text" name="entry.411958004" class="form-control">
              </div>
              <div class="col-md-12">
                <p class="help-block small">{{ _('Please provide us with this city only if you need travel funding so that we can calculate the ticket price.') }}</p>
              </div>
            </div>
          </fieldset>

          <!-- Field type: "choices" id: "1432676514" -->
          <fieldset>
            <div class="form-group row">
              <div class="col-md-3">
                <legend for="1432676514">{{ _('Do you need accommodation?') }}</legend>
                <p class="help-block small">{{ _('Please provide us with this answer only if you need travel funding so that we can calculate the ticket price.') }}</p>
              </div>
              <div class="col-md-9">
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1062978942" value="Yes">
                    {{ _('Yes') }}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.1062978942" value="No">
                    {{ _('No') }}
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <!--
              CAVEAT: In multipages (multisection) forms, *pageHistory* field tells to google what sections we've currently completed.
              This usually starts as "0" for the first page, then "0,1" in the second page... up to "0,1,2..N" in n-th page.
              Keep this in mind if you plan to change this code to recreate any sort of multipage-feature in your exported form.
              We're setting this to the total number of pages in this form because we're sending all fields from all the section together.
          -->
          <input type="hidden" name="pageHistory" value="0,1,2,3">

          <p class="text-center">
            <input class="btn-fill size-lg border-radius-5 color-yellow" type="submit" value="{{ _('Submit') }}">
          </p>
        </form>

        <h2>{{ _('Recording release') }}</h2>
        <p class="text-justify">
          {{ _('Part of the motivation for PyCon SK is to help with Python education and advocacy in Slovakia and around the world. Accordingly, we intend to record all PyCon SK presentations and live stream and release the recordings on the web.') }}
        </p>
        <p class="text-justify">
          {{ _('By submitting your talk or workshop proposal, or by signing up to give a lightning talk, you agree to give permission to the SPy o.z. to record, edit, and release audio and/or video of your presentation.') }}
        </p>
        <p class="text-center">
          <a href="{{ url_for('recording', lang_code=lang_code) }}" class="btn-fill size-md border-radius-5 color-blue"> {{ _('Full recording release statement') }}
          </a>
        </p>

        </div>
    </div>
  </div>
</section>
<!-- Content Page Area End Here -->
{% endblock %}

{% block js %}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha256-2Pjr1OlpZMY6qesJM68t2v39t+lMLvxwpa8QlRjJroA=" crossorigin="anonymous"></script>-->
<!--&lt;!&ndash; Countdown form.js &ndash;&gt;-->
<!--<script async src="{{ url_for('static', filename='form.js') }}"></script>-->
{% endblock %}
