{% extends "body.html" %}

{% block content %}
<!-- Slider Area Start Here -->
<section class="slider-layout2 overlay-icon-layout6">
  <img src="{{ url_for('static', filename='img/about/header1.jpg') }}" class="img-fluid" alt="banner">
  <div class="comingsoon-inner">
    <div class="container">
      <div class="comingsoon-content">
        <p class="text-underline">PyCon SK 2020</p>
        <ul class="upcoming-event-info">
          <li>{{ _('27 - 29 March 2020') }}</li>
          <li>{{ _('Bratislava, Slovakia') }}</li>
        </ul>
        <div class="countdown-layout2 d-none d-sm-block">
          <div id="countdown"></div>
        </div>
        <div class="row">
          <div class="col-12 text-center d-none d-md-block ">
            <a href="{{ url_for('tickets', lang_code=lang_code) }}" title="{{ _('Buy Tickets') }}" class="btn-fill size-lg border-radius-5 color-yellow">{{ _('Buy Tickets') }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Slider Area End Here -->
<!-- About Area Start Here -->
<section class="section-space-default bg-common bg-accent bg-figure3">
  <div class="container">
    <div class="section-heading title-black color-dark text-center">
      <h2>{{ _('About PyCon SK') }}</h2>
    </div>
    <div class="about-layout2">
      <div class="media align-items-center media-none--md">
        <div class="video-area overlay-primary60">
          <img src="{{ url_for('static', filename='img/about/lecture.jpg') }}" alt="about" class="img-fluid width-100">
          <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=rOlGoEaz-DA">
            <img src="{{ url_for('static', filename='img/figure/play.svg') }}" alt="play" class="img-fluid">
          </a>
        </div>
        <div class="media-body media-body-box">
          <h3 class="title-bold color-primary size-lg margin-b-10">{{ _('27 - 29 March 2020') }}</h3>
          <p>
            {{ _('The PyCon SK 2020 conference, which will be held in Bratislava, is an annual gathering of the community using and developing the open-source Python programming language.') }}
            {{ _('It is organized by volunteers from the SPy o.z., civic association dedicated to advancing and promoting Python and other Open Source technologies and ideas.') }}
            {{ _('Through PyCon, the SPy o.z. advances its mission of growing the Slovak (and also international) community of Python programmers and Open Source supporters.') }}
          </p>
        </div>
      </div>
    </div>
    <br/>
    <div class="about-layout2">
      <div class="media align-items-center media-none--md">
        <div class="media-body media-body-box">
          <h3 class="title-bold color-primary size-lg margin-b-10">{{ _('Edu Summit') }}</h3>
          <p>
            {{ _('EduSummit is a special section of the conference focused on teaching programming at primary and secondary schools.') }}
            {{ _('We are now organising the fourth edition, a two day summit during which teachers will be introduced to innovative ways and methods of teaching programming, share their knowledge of useful tools and last but not least participate in numerous workshops given by experienced educators.') }}
          </p>
        </div>
        <div class="video-area overlay-primary60">
          <img src="{{ url_for('static', filename='img/about/edu_summit.jpg') }}" alt="about" class="img-fluid width-100">
          <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=ioJjB5RUqTE">
            <img src="{{ url_for('static', filename='img/figure/play.svg') }}" alt="play" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Area End Here -->
<!-- Progress Area Start Here -->
<section class="progress-section-space bg-common progress-bg-color"
         style="background-image: url(img/figure/figure1.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="progress-layout1">
          <div class="media">
            <div class="item-icon">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <h3>FIIT STU<br >Bratislava</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="progress-layout1">
          <div class="media">
            <div class="item-icon">
              <i class="fa fa-microphone" aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <h3>50+<br />{{ _('Speakers') }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="progress-layout1">
          <div class="media">
            <div class="item-icon">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <h3>500+<br />{{ _('Participants') }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Progress Area End Here -->
<!-- Blog Area Start Here -->
            <section class="section-space-default-less30 bg-accent">
                <div class="container">
                    <div class="section-heading title-black color-dark text-center">
                        <h2>{{ _('News') }}</h2>
                        <p>{{ _('There is a lot of things going on around conference... Here is some of them...') }}</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="blog-layout2">
                                <div class="media align-items-center media-none--sm">
                                    <div class="item-img">
                                        <img src="img/blog/blog4.jpg" alt="blog" class="img-fluid">
                                        <div class="item-date">23
                                            <span> Nov</span>
                                        </div>
                                    </div>
                                    <div class="media-body media-body-box">
                                        <div class="item-title">
                                            <h3 class="title title-medium color-dark hover-primary">
                                              <a href="https://join.slack.com/t/pyconsk/shared_invite/enQtODQ4NjU1NzM2NzI3LTA2ZGNiOTA4YzM5OWM3NmQyZjAxMDlmNzJjOGIzNjM4ZjEwZGI0MTJiYzAxZmNhZmVjMTZjZjliNWQ4ZjVlNjE" target="_blank">{{ _('Conference chat.') }}</a>
                                            </h3>
                                        </div>
                                        <div class="item-deccription">
                                            <p>
                                              {{ _('Last year we have used Slack as our conference chat so you can get in touch with organizers and also with fellow participants.') }}
                                              {{ _('For PyCon SK 2020 chat we are going to use the Slack.') }}
                                              <a href="https://join.slack.com/t/pyconsk/shared_invite/enQtODQ4NjU1NzM2NzI3LTA2ZGNiOTA4YzM5OWM3NmQyZjAxMDlmNzJjOGIzNjM4ZjEwZGI0MTJiYzAxZmNhZmVjMTZjZjliNWQ4ZjVlNjE" target="_blank">{{ _('Channel is open for anyone!') }}</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="blog-layout2">
                                <div class="media align-items-center media-none--sm">
                                    <div class="item-img">
                                        <img src="img/blog/blog4.jpg" alt="blog" class="img-fluid">
                                        <div class="item-date">16
                                            <span> Nov</span>
                                        </div>
                                    </div>
                                    <div class="media-body media-body-box">
                                        <div class="item-title">
                                            <h3 class="title title-medium color-dark hover-primary">
                                                {{ _('First batch of speakers.') }}
                                            </h3>
                                        </div>
                                        <div class="item-deccription">
                                            <p>{{ _('We are honoured to announce the first batch of speakers that will be part of PyCon SK 2020.') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="blog-layout2">
                                <div class="media align-items-center media-none--sm">
                                    <div class="item-img">
                                        <img src="img/blog/blog5.jpg" alt="blog" class="img-fluid">
                                        <div class="item-date">15
                                            <span> Nov</span>
                                        </div>
                                    </div>
                                    <div class="media-body media-body-box">
                                        <div class="item-title">
                                            <h3 class="title title-medium color-dark hover-primary">
                                                <a href="https://en.wikipedia.org/wiki/Velvet_Revolution" target="_blank">{{ _('Oslavujeme deň boja za slobodu a demokraciu.') }}</a>
                                            </h3>
                                        </div>
                                        <div class="item-deccription">
                                            <p>{{ _('17.11. oslavujeme deň boja za slobodu a demokraciu. Vďaka tejto udalosti môžeme slobodne organizovať PyCon SK.') }}
                                              {{ _('Chceme aby ste oslavovali aj vy.') }}
                                              {{ _('Počas celého sviatku môže využiť zľavu 17&#37; na lístky s promo kódom "30-rokov-slobody".') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="blog-layout2">
                                <div class="media align-items-center media-none--sm">
                                    <div class="item-img">
                                        <img src="img/blog/blog6.jpg" alt="blog" class="img-fluid">
                                        <div class="item-date">20
                                            <span> Oct</span>
                                        </div>
                                    </div>
                                    <div class="media-body media-body-box">
                                        <div class="item-title">
                                            <h3 class="title title-medium color-dark hover-primary">
                                                <a href="{{ url_for('cfp', lang_code=lang_code) }}">{{ _('The Call for Proposals is open!') }}</a>
                                            </h3>
                                        </div>
                                        <div class="item-deccription">
                                            <p>{{ _('Do you know any one in underrepresented group in IT who would like to do a conference talk?') }}
                                              {{ _('Let us know, and try to encourage him/her to submit Call for Proposals for PyCon SK 2020.') }}
                                              {{ _('We are trying to support diversity.') }}{{ _('Anyone can be part of the conference.') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog Area End Here -->
<!-- Speaker Area Start Here -->
<section class="section-space-top-default bg-light">
    <div class="container-fluid">
        <div class="section-heading title-black color-dark text-center">
            <h2>{{ _('Speakers') }}</h2>
            <p>
              {{ _('Speakers that who have alerady confirmed attandance at PyCon SK 2020.') }}
              {{ _('You can fill the Call for Proposals and join this list...') }}
            </p>
        </div>
        <div class="row no-gutters full-width">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6"></div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6"></div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
                <div class="speaker-layout2">
                    <img src="{{ url_for('static', filename='img/speakers/tom_dyson.jpg') }}" alt="speaker" class="img-fluid">
                    <div class="item-title">
                        <h3 class="title-medium size-md color-light hover-yellow">
                            <a href="#">Tom Dyson</a>
                        </h3>
                    </div>
                    <div class="item-social">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/tomdyson/" title="LinkedIn" target="_blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://torchbox.com/team/tom-dyson/" title="torchbox.com" target="_blank">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
	    {#            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
                <div class="speaker-layout2">
                    <img src="{{ url_for('static', filename='img/speakers/speaker.jpg') }}" alt="speaker" class="img-fluid">
                    <div class="item-title">
                        <h3 class="title-medium size-md color-light hover-yellow">
                            <a href="#"></a>
                        </h3>
                    </div>
                    <div class="item-social">
                        <ul>
                            <li>
                                <a href="" title="Twitter" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="LinkedIn" target="_blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
	    </div> #}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
                <div class="speaker-layout2">
                    <img src="{{ url_for('static', filename='img/speakers/nick_thapen.png') }}" alt="speaker" class="img-fluid">
                    <div class="item-title">
                        <h3 class="title-medium size-md color-light hover-yellow">
                            <a href="#">Nicholas Thapen</a>
                        </h3>
                    </div>
                    <div class="item-social">
                        <ul>
                            <li>
                                <a href="https://twitter.com/nthapen" title="Twitter" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/nicholas-thapen/" title="LinkedIn" target="_blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://sourcery.ai/" title="sourcery.ai" target="_blank">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
                <div class="speaker-layout2">
                    <img src="{{ url_for('static', filename='img/speakers/roman_imankulov.jpg') }}" alt="speaker" class="img-fluid">
                    <div class="item-title">
                        <h3 class="title-medium size-md color-light hover-yellow">
                            <a href="https://twitter.com/rdotpy">Roman Imankulov</a>
                        </h3>
                    </div>
                    <div class="item-social">
                        <ul>
                            <li>
                                <a href="https://twitter.com/rdotpy" title="Twitter" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/roman-imankulov-91076144/" title="LinkedIn" target="_blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/imankulov" title="GitHub" target="_blank">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6"></div>

        </div>
    </div>
</section>
<!-- Speaker Area End Here -->
<!-- Call To Action Area Start Here -->
<section class="overlay-primary90 overlay-icon-layout1 section-space-default bg-common"
         style="background-image: url(img/figure/figure1.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="call-to-action-layout1 zindex-up">
          <h2>{{ _('Get Your Ticket Now') }}</h2>
          <p>{{ _('Conference tickets are available for purchase. So far each PyCon SK edition has sold out, so do not leave buying your ticket to the last moment, because they might be gone...') }}</p>
          <a href="{{ url_for('tickets', lang_code=lang_code) }}" title="{{ _('Buy Tickets') }}" class="btn-fill size-lg border-radius-5 color-yellow">{{ _('Buy Tickets') }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call To Action Area End Here -->
<!-- Sponsonrs Area Start Here -->
<section class="section-space-default bg-light">
  <div class="container">
    <div class="section-heading title-black color-dark text-center">
      <h2>{{ _("Offcial Sponsonrs &amp; Partners") }}</h2>
      <p>{{ _("We are looking for sponsors and partners. Please get in touch with us.") }}</p>
<!--      <p>{{ _("Check Who Makes This Event Possible!") }}</p>-->
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a href="mailto:sponsors@pycon.sk" title="{{ _('Become a Sponsor') }}" class="btn-fill size-lg color-yellow border-radius-5 margin-t-30">
            {{ _('Become a Sponsor') }}
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Sponsonrs Area End Here -->
{% endblock %}
