<div class="widget">
  <div class="footer-widget-newsletter">

    <div class="text-center">
      <div class="mb-5">
        <h3 class="widgettitle">{{ _('Subscribe to one of our newsletters') }}</h3>

      </div>

      <div class="text-center">
        <div class="mb-5">

        </div>

        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-4">
            <a href="http://eepurl.com/dIFFzT" class="btn-fill size-s color-white border-radius-5 mb-4">
              {{ _('Newsletter in SLOVAK') }}
              <img class="ml-2 mr-2"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACO0lEQVQokXXMTUiTARzH8T94FOrgyYsddkkQJcFIyhQ1kUzQUHMTRRMNU6xMLXpRMLVS8gWkrKhDXesk0TFKIgzTXPMt2ea0JWOutT179uzlefbtUlKHfvA5/r5iqBqGqv5LUYgrCvGAQtQfQPP7UX1+VK8PxeMlsOPB73bj23YjhqrxZ4lEYo9hJDAMA13X0XWdeDxOLBYjGo0SiUTQNA2vaxsxVBWA8NNnhCfuo45PERqdJDQ6/t9jOBxG0zR27E4k37zOi9c/ULpvkGhuwnA4MIYGiVnqmHjk4s70N4amthiY3KRvzMm1ETu9tze4+8CJJL1CkkxzDD7eJdDRjfFpHsO3i77lQqut42aflZrOr9ScX6Gy1cap5i+UNixRaFmk4dIyIk8QOTDHrYde/G1d6C2N6A4H8bvDRC0WLl61cbpjncpzK5Q32yhtsFJkWeL4mUXqLuwFFhmY9mB9a2e4Z5b2nmXaOxfYnJnFfNlOedsGJ1vWONG0SkH9CsfMNo5UW6nqXEPkOfJGBNeVEb4PT2F/v0Zjr53Vd+u4+sewFpj5fLSahcMVzB8q42NGKXMHi/hgymehqI57IkhUBL21lVhxMbHuLn6+nCFwvR8tM5NwejqqyUQoLQ0lNZVgSgqB/fsIJCcTzMrCKYJoIsSbzhKrrydaW0u0qppIRQVaWRlaSQnhwkLUvDxCubkoOTkEs7MJZmURzMjALoKoIigiBETwi+D7zSuCR4QdEdwibIvgEsEpgv0vvwCcffbRnUTGYAAAAABJRU5ErkJggg==">
            </a>
            <div class="text-muted">
              {{ _('Receive updates <strong>in Slovak</strong> about PyCon SK
              <br>& Python meetups held in <strong>Slovak or English</strong>
              <br>(approximately one email every 1-2 months)') }}
            </div>
          </div>
          <div class="col-md-4">
            <a href="http://eepurl.com/hyCjnH" class="btn-fill size-s color-white border-radius-5 mb-4">
              {{ _('Newsletter in ENGLISH') }}
              <img class="ml-2 mr-2"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACJElEQVQokYWQW0jTYQDFv8ceehELCx96CoqlYaxSQYaZoWBCNTNl6JbLkKGV+RBZy3mp8Ia3LooammGY5TIyAzOHKVmRQ52xdIREMMlVkLKm///362HVk9B5OnA4F45oaB5m0LVE8a1xzGXjmMtGMdlGcHt8PMyx0Wu04vb4SLYMkJQ7SJzBTqbtOa1HzlDcNobouv8GHvcgJcwtLNNpn+NO3zxSAk3VUFuBlNDQMU1Nm5OJ15+RlZeQaoC6fifiZLmDoYlvcK8bHC8AuHrTBQCn8sBoAqCodorlzl78VVUAtPdMsVV7OxjQYfdgrXexMPwJpfQK/2AwQPqJIM/PA68X57yP+ORuCktfERJRj3B7fMG56yEtDVJT15WkhHezi4he02VovA5mM2RnQ0YG6PVBY0oKMjGRVZ2OQEwMfq2WlchIVjQaAscOUbEt9j8L4uJQ9kX/7QRAVVUUVWFNUZhweRG6rH6qWyfJzB1kxvUdfEsEcrKDlj1a1nZH/QlQ+XIgnpfNT9kS3oLe2IcItSD2H3/E3b7g6z9tVn5UVmIoGgdA0USwulMDUhKr6yIALLe04TUaKL3xHhFyGtH4ZBopVfzXLjA2Mse5EgcFJaNICao+ibWjCUhVJT13gLSsBzwb/Yiq/OKr8TCWwi7ExfYRmg7mkJDXSciuVjbuaGTD9jomZ71UhEdTHqbl7cwiIuw8YvNZRGg+m6Ks1Ax9IHFvAb8B0rMYCWdRNDQAAAAASUVORK5CYII=">
            </a>
            <div class="text-muted">
              {{ _('Receive updates <strong>in English</strong> about PyCon SK
              <br>& Python meetups held in <strong>English only</strong>
              <br>(3-5 emails per year)') }}
            </div>
          </div>
          <div class="col-md-2">
          </div>
        </div>

      <p class="mt-5">
        {{ _('You can unsubscribe at any time by clicking the link in the footer of our emails.') }}
      </p>
      <p>
        <small>
          {{ _('We use Mailchimp as our marketing platform.') }} {{ _('By clicking Subscribe, you acknowledge that your information will be transferred to Mailchimp for processing.') }}
          {{ _('For information about privacy practices, please visit our <a href="%(url)s">Privacy Policy</a>.', url=url_for('privacy_policy', lang_code=lang_code)) }}
        </small>
      </p>
    </div>

  </div>
</div>
