{% extends "body.html" %}
{% block content %}
<section class="inner-page-banner" style="background-image: url({{ url_for('static', filename='img/about/header1.jpg') }});">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>{{ _('Privacy Policy') }}</h1>
          <ul>
            <li>
              <a href="{{ url_for('index', lang_code=lang_code) }}">PyCon SK 2020</a>
            </li>
            <li>{{ _('Privacy Policy') }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner Page Banner Area End Here -->
<!-- Content Page Area Start Here -->
<section class="section-space-less30">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-justify">
          {{ _('SPy o.z. values and respects all individuals and organizations that utilize our services. We understand that you may be concerned about privacy issues that surround the use of the Internet.') }}
        </p>
        <p class="text-justify">
          {{ _('We believe that you should have control over who receives your personal information, whether it concerns where you live, what your interests are, or how you choose to conduct transactions. We\'re focused on only one thing: managing the Python community in Slovakia in a safe and secure environment.') }}
        </p>
        <p class="text-justify">
          {{ _('Therefore, we do not disclose, share, sell, or trade information about your individual visits to *.pycon.sk or the information that you may give us such as your name, address, e-mail address or telephone number, to any outside companies. We will release personal information about you, if necessary, in order to comply with a valid legal process such as a search warrant or court order. If we receive such request we\'ll transparently create a transparency report.') }}
        </p>
        <p class="text-justify">
          {{ _('Other Web sites that you may link to from our site, including our partners\' Web sites, have their own privacy policies. SPy o.z. is not responsible for the privacy practices of other Web sites. We encourage you to review the privacy policies of Web sites before providing them with any of your personal information.') }}
        </p>
        <p class="text-justify">
          {{ _('At our events, we respect our participants\' choice should they wish to not be photographed. Our official photographers will not make photos of them. We ask other participants to also do so.') }}
        </p>
        <p class="text-justify">
          {{ _('We respect the Code of Conduct. Let us know if you feel we can improve our privacy and policy rules.') }}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h3>{{ _('How SPy o.z. Uses Information About You') }}</h3>
        <p class="text-justify">
          {{ _('When you register for an event, make a donation or select a volunteer opportunity, we may specifically ask for information about you -- such as name, home or Internet address, and billing information -- in order to provide that service or information to you. This information will be used solely for the purposes of completing your registration, donation or locating the volunteer opportunity you are seeking.') }}
        </p>
        <p class="text-justify">
          {{ _('The information which SPy o.z. automatically gathers, such as the numbers and frequency of visitors to our site and its areas, is used only in the aggregate -- very much like television ratings that tell the networks how many people tuned in to a program. This collective data helps us determine how much our visitors use parts of the site so that we can improve our site to assure that it is as appealing as we can make it for as many of you as possible.') }}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h3>{{ _('SPy o.z. Security') }}</h3>
        <p class="text-justify">
          {{ _('SPy o.z. takes every precaution to protect the information of our users. When users submit sensitive information via the Web site, your information is protected both online and offline.') }}
        </p>
        <p class="text-justify">
          {{ _('SPy o.z. uses Secure Sockets Layer (SSL) technology to keep your personal information as secure as possible. SPy o.z. helps to protect your information by working with partners that provide a secure and safe environment for credit card transactions.') }}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h3>{{ _('Third party services that may obtain some information about you:') }}</h3>
        <p class="text-justify">
          {{ _('<strong>Tito</strong>: Event management website that we use for booking event tickets. Read their privacy and policy: ') }}
          <a href="https://ti.to/privacy" target="_blank" class="external">https://ti.to/privacy</a>
        </p>
        <p class="text-justify">
          {{ _('<strong>PayPal</strong>: Payment provider that we use for ticket payments. Read their privacy and policy: ') }}
          <a href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full" target="_blank" class="external">https://www.paypal.com/us/webapps/mpp/ua/privacy-full</a>
        </p>
        <p class="text-justify">
          {{ _('<strong>Google Analytics</strong>: Website performance analytics that we use to collect aggregated data about our website visitors. Read their privacy and policy: ') }}
          <a href="https://policies.google.com/privacy" target="_blank" class="external">https://policies.google.com/privacy</a>
        </p>
        <p class="text-justify">
          {{ _('<strong>MailChimp</strong>: Newsletter and event update mass email provider that we use to send emails to multiple recipients. Read their privacy and policy: ') }}
          <a href="https://mailchimp.com/legal/" target="_blank" class="external">https://mailchimp.com/legal/</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h3>{{ _('Third party services that could be avoided:') }}</h3>
        <p class="text-justify">
          {{ _('<strong>Tito</strong>: Join us at events that do not require tickets, such as our monthly Python meetups. Unfortunately, for a conference like PyCon SK tickets are required; however, you can use a pseudonym as we won\'t ask for your ID if you have a valid ticket (without any discount; for discounted tickets, a student ID or similar might be required).') }}
        </p>
        <p class="text-justify">
          {{ _('<strong>PayPal</strong>: Request a payment via alternative methods: Bank transfer, cryptocurrencies. An extra fee for additional human work may apply.') }}
        </p>
        <p class="text-justify">
          {{ _('<strong>Google Analytics</strong>: Use an ad blocker to block this service automatically for every site on the internet.') }}
        </p>
        <p class="text-justify">
          {{ _('<strong>MailChimp</strong>: Do not subscribe to our newsletter, or request us not to include your email in mass emails when requesting an alternative payment method. If you are already subscribed, you can unsubscribe at any time, by clicking the link in the email footer.') }}
        </p>
      </div>
    </div>

  </div>
</section>
{% endblock %}
