{% extends "body.html" %}

{% block content %}
<section class="inner-page-banner {{ background}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>Our amazing speakers</h1>
          <ul>
            <li>
              <a href="{{ url_for('index', lang_code=lang_code) }}">PyCon SK 2020</a>
            </li>
            <li>{{ _('Spekaers') }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Speaker Area Start Here -->
<section class="section-space-default bg-light overlay-icon-layout4">
    <div class="container zindex-up zoom-gallery menu-list-wrapper">
        <div class="section-heading title-black color-dark text-left">
            <h2>Our amazing speakers</h2>
            <p>Dorem ipsum dolor sitIncidunt laborum beatae earum nihil onsequuntur official </p>
        </div>
        <div class="row menu-list">
            {% for speaker in speakers %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 menu-item">
                <div class="speaker-layout3">
                    <img src="{{ url_for('static', filename=speaker['avatar']) }}" alt="speaker" class="img-fluid">
                    <div class="item-title">
                        <h3 class="title title-bold color-light hover-yellow">
                            <a href="single-speaker.html">{{ speaker['name'] }}</a>
                        </h3>
                        <div class="title-light size-md text-left color-light">{{ speaker['country'] }}</div>
                    </div>
                    <div class="item-social">
                        <ul>{% for link, url in speaker['links'].items() %}
                            <li>
                                <a href="{{ url }}" title="{{ link }}" target="_blank">
                                    <i class="fa fa-{{ link }}" aria-hidden="true"></i>
                                </a>
                            </li>{% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Speaker Area End Here -->
{% endblock %}
